<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vikings</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <img class="background" src="/assets/weapons-background.png" alt="">
    <main class="login">
        <section>
            <form action="/register" method="post">
                <label for="username">username</label>
                <input name="username" type="text" required>
    
                <label for="password">password</label>
                <input name="password" type="password" required>
    
                <button type="submit">register</button>
            </form>
            <a href="/login">allready have an account? login here!</a>
        </section>
    </main>
    <footer>
        <p>Wilson Quayson</p>
        <p>G_1PRO_D1</p>
    </footer>
</body>
</html>